body {
  margin: 0;
}

p {
  text-indent: 1.5em;
}

ol > li {
  padding: 0.5em 0;
}

#root {
  /* overflow: hidden; */
  height: 100vh;
}

.main {
  height: fit-content;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* overflow-y: auto; */
}

@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
  }
}
